.main {
  display: flex;
  align-items: center;
  transition: 1s ease-in-out;

}

.page {
  background-color: #040507;
  min-width: 100%;
  min-height: calc(100vh - 90px);
}

.heading {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 0.6%;
  justify-content: center;
}

.heading h1 {
  margin: 0;
}

.individuals {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  height: 16vh;
  padding: 5px 8px;
  transition: 0.08s ease-in-out;

}

.individuals:hover {
  background-color: #1d1b1b42;
  transform: scale(1.01);
}

.individuals img {
  max-width: calc(100% - 10px);
  max-height: calc(100% - 10px);
  object-fit: cover;
  border-radius: 8px;
}

.content-area {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.content-heading {
  font-size: 20px;
  display: flex;
  gap: 5px;
}

.content-area p {
  margin: 0;
  font-size: 18px;
}

.content-area b {
  min-width: 90px;
}

.close {
  min-width: 30px;
  min-height: 30px;
  cursor: pointer;
}


@media (max-width: 720px) {
  .content-area p {
    font-size: 17px;
  }
}

@media (max-width: 688px) {
  .content-area p {
    font-size: 13px;
  }

  .content-area b {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .content-area p {
    font-size: 10px;
  }

  .content-area b {
    min-width: 50px;
    font-size: 12px;
  }

  .individuals img {
    max-width: calc(100% - 32px);
    max-height: calc(100% - 32px);
  }
}