body {
  margin: 0;
  font-family: sans-serif;
  color: azure;
  background-color: black;
  overflow: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  cursor: default;
}

ul {
  margin: 0;
  padding: 0;
}